{% extends 'lib/main.html' %}
{% block header_nav %} {% endblock %}

{% block content_header %}
<h1>
    Приложения
</h1>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="box">
    <div class="box-header">
        <a href="/apps_create" class="btn btn-info pull-right" type="button">Создать</a>
    </div>

    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th>Иконка</th>
                <th>Название</th>
                <th>Firebase</th>
                <th>Действия с базой</th>
                <th>Действия с офферами</th>
                <th>Действия с новостями</th>
                <th></th>
                <th></th>
            </tr>

            {% for app in applications %}
            <tr>
                <td>
                    {% if app.icon %}
                    <img class="img-responsive" width="36px" src="/static/app_icons/{{ app.icon }}" alt="icon">
                    {% else %}
                    <img class="img-responsive" width="36px" src="/static/img/no_image.png" alt="icon">
                    {% endif%}
                </td>

                <td><a href="/apps_overview?id={{app.id}}"><h4>{{ app.name }}</h4></a></td>
                <td><a href="{{app.fb_url}}/{{ app.fb_id }}/overview"><h4>{{ app.fb_id
                    }}</h4></a></td>
                <td>
                    <div class="btn-group">
                        <a href="#" type="button"
                           class="btn btn-warning"
                           data-ufb_app_id={{app.id}}
                           data-ufb_app_name="{{app.name}}"
                           data-toggle="modal"
                           data-target="#uploadFirebaseConfirmationModal"
                        >Обновить Firebase DB</a>

                        <a href="/app_fb_db_get?id={{app.id}}" type="button"
                           class="btn btn-default">Скачать FB JSON</a>

                        <a href="/app_db_json?id={{app.id}}" type="button"
                           class="btn btn-default">Скачать JSON</a>

<!--                        <a href="/ftp_update?id={{app.id}}" type="button"-->
<!--                           class="btn btn-info">Обновить FTP</a>-->

                    </div>
                <td>
                    <div class="btn-group">
                        <a href="#" type="button"
                           class="btn btn-success"
                           data-aao_app_id={{app.id}}
                           data-aao_app_name="{{app.name}}"
                           data-toggle="modal"
                           data-target="#addAllOffersConfirmationModal"
                        >Добавить все</a>
                        <a href="#" type="button"
                           class="btn btn-danger"
                           data-rao_app_id={{app.id}}
                           data-rao_app_name="{{app.name}}"
                           data-toggle="modal"
                           data-target="#removeAllOffersConfirmationModal"
                        >Удалить все</a>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <a href="#" type="button"
                           class="btn btn-success"
                           data-aan_app_id={{app.id}}
                           data-aan_app_name="{{app.name}}"
                           data-toggle="modal"
                           data-target="#addAllNewsConfirmationModal"
                        >Добавить все</a>
                        <a href="#" type="button"
                           class="btn btn-danger"
                           data-ran_app_id={{app.id}}
                           data-ran_app_name="{{app.name}}"
                           data-toggle="modal"
                           data-target="#removeAllNewsConfirmationModal"
                        >Удалить все</a>
                    </div>
                </td>
                </td>
                <td>
                    <a class="text-danger" href="#"><h4><i class="fa fa-remove text-red"
                                                           data-app_id={{app.id}}
                                                           data-app_name="{{app.name}}"
                                                           data-toggle="modal"
                                                           data-target="#deleteConfirmationModal"></i></h4></a>
                </td>
                <td>
                    <a class="text-info" href="/apps_duplicate?id={{app.id}}"><h4><i
                            class="fa fa-copy text-blue"></i></h4></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Удалить приложение <b><span id="modal-app_name"></span></b>?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="cancel-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-button">Удалить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadFirebaseConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="uploadFirebaseConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Загрузить офферы для приложения <b><span id="modal-ufb_app_name"></span></b> в Firebase?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="ufb-cancel-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="ufb-confirm-button">
                    Загрузить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addAllOffersConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="uploadFirebaseConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Добавить все офферы в приложение <b><span id="modal-aao_app_name"></span></b></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="aao-cancel-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="aao-confirm-button">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeAllOffersConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="uploadFirebaseConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Удалить все офферы из приложения <b><span id="modal-rao_app_name"></span></b></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="rao-cancel-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="rao-confirm-button">Удалить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addAllNewsConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="uploadFirebaseConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Добавить все новости в приложение <b><span id="modal-aan_app_name"></span></b></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="aan-cancel-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="aan-confirm-button">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeAllNewsConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="uploadFirebaseConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Удалить все новости из приложения <b><span id="modal-ran_app_name"></span></b></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="ran-cancel-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="ran-confirm-button">Удалить
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    pass_arguments_to_modal();
    set_confirmation_modal_handlers();

    function pass_arguments_to_modal() {
        let ATTRIBUTES = ['app_name', 'ufb_app_name', 'aao_app_name', 'rao_app_name', 'aan_app_name', 'ran_app_name'];
        $('[data-toggle="modal"]').on('click', function (e) {
            // convert target (e.g. the button) to jquery object
            var $target = $(e.target);
            // modal targeted by the button
            var modalSelector = $target.data('target');

            // iterate over each possible data-* attribute
            ATTRIBUTES.forEach(function (attributeName) {
                // retrieve the dom element corresponding to current attribute
                var $modalAttribute = $(modalSelector + ' #modal-' + attributeName);
                var dataValue = $target.data(attributeName);
                $modalAttribute.text(dataValue || '');
            });
            window.removing_id = $target.data('app_id');
            window.ufb_id = $target.data('ufb_app_id');
            window.aao_id = $target.data('aao_app_id');
            window.rao_id = $target.data('rao_app_id');
            window.aan_id = $target.data('aan_app_id');
            window.ran_id = $target.data('ran_app_id');
        });
    }

    function set_confirmation_modal_handlers() {
        $('#deleteConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button.attr("id") == 'confirm-button') {
                    window.location.href = '/apps_actions?&action=delete&id=' + window.removing_id;
                }
            });
        });

        $('#uploadFirebaseConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button.attr("id") == 'ufb-confirm-button') {
                    window.location.href = '/app_fb_db_load?id=' + window.ufb_id;
                }
            });
        });

        $('#addAllOffersConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button.attr("id") == 'aao-confirm-button') {
                    window.location.href = '/add_all_offers?id=' + window.aao_id;
                }
            });
        });

        $('#removeAllOffersConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button.attr("id") == 'rao-confirm-button') {
                    window.location.href = '/delete_all_offers?id=' + window.rao_id;
                }
            });
        });

        $('#addAllNewsConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button.attr("id") == 'aan-confirm-button') {
                    window.location.href = '/add_all_news?id=' + window.aan_id;
                }
            });
        });

        $('#removeAllNewsConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button.attr("id") == 'ran-confirm-button') {
                    window.location.href = '/delete_all_news?id=' + window.ran_id;
                }
            });
        });
    }

</script>
{% endblock %}