{% extends 'lib/main.html' %}
{% block header_nav %}
{% endblock %}

{% block content_header %}
<h1>
    Создать приложение
</h1>

{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<form role="form" action="/apps_create" method="post" enctype="multipart/form-data">
    <section class="content">
        <div class="box box-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <a href="#" class="btn btn-default" onclick="goBack()">Отмена</a>
                        <button type="submit" class="btn btn-info pull-right">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- left column -->
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>
                    <div class="box-body">
                        <label for="icon">Иконка приложения</label>
                        <input class="form-control" type="file" placeholder="Введите адрес" id="icon" name="icon">


                        <label for="name">Название причложения</label>
                        <input required class="form-control" type="text" placeholder="Введите имя" id="name"
                               name="name">

                        <label for="description">Описание</label>
                        <textarea class="form-control" rows="5" id="description" name="description"
                                  placeholder="Описание"></textarea>

                        <label for="init_license_term">Начальное пользовательское соглашение</label>
                        <textarea id="init_license_term" name="init_license_term" rows="5" cols="80"
                                  id="init_license_term"
                                  placeholder="Соглашение"></textarea>

                        <label for="license_term">Пользовательское соглашение</label>
                        <textarea id="license_term" name="license_term" rows="5" cols="80" id="license_term"
                                  placeholder="Соглашение"></textarea>
                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Интеграция</h3>
                    </div>
                    <div class="box-body">
                        <label for="name">Firebase ID</label>
                        <input required class="form-control" type="text" placeholder="Введите ID" id="fb_id"
                               name="fb_id">

                        <label for="name">Идентификатор ссылки заказа</label>
                        <input required class="form-control" type="text" placeholder="Введите идентификатор"
                               id="order_tracking_source"
                               name="order_tracking_source">
                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Доступные страны</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            {% for country in countries %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="country_{{country.id}}">
                                    {{country.name}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Вариант открытия офферов</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="use_open_selection">Задать вариант открытия офферов</label>
                            <input type="checkbox" onClick="use_open_selection_handler()" name="use_open_selection" id="use_open_selection">
                        </div>
                        <div class="form-group">
                            <input disabled type="radio" name="browser_type" id="internal_browser" value="internal"> Внутренний<br>
                            <input disabled type="radio" name="browser_type" id="external_browser" value="external"> Внешний<br>
                        </div>
                    </div>
                </div>
            </section>
        </div>



        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Пользовательское соглашение по странам</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for country in countries %}
                <label for="country_license_init_term_{{ country.id }}">Начальное соглашение для
                    {{country.name}}</label>
                <textarea id="country_license_init_term_{{ country.id }}"
                          name="country_license_init_term_{{country.id }}" rows="5" cols="80"
                          placeholder="Соглашение"></textarea>


                <label for="country_license_term_{{ country.id }}">Соглашение для {{country.name}}</label>
                <textarea id="country_license_term_{{ country.id }}" name="country_license_term_{{country.id }}"
                          rows="5" cols="80"
                          placeholder="Соглашение"></textarea>
                {% endfor %}
            </div>
        </div>
        <div class="box box-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <a href="#" class="btn btn-default" onclick="goBack()">Отмена</a>
                        <button type="submit" class="btn btn-info pull-right">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<!-- /.box-body -->
</div>

{% endblock %}

{% block page_scripts %}
<script src="/static/bower_components/ckeditor/ckeditor.js"></script>
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('license_term');
        CKEDITOR.replace('init_license_term');
        {%
            for country in countries %}
        CKEDITOR.replace('country_license_term_{{ country.id }}');
        CKEDITOR.replace('country_license_init_term_{{ country.id }}');
        {%
            endfor %}
        //bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5()
    });

    function use_open_selection_handler(){
        useOpenSelectionCheckBox = document.getElementById("use_open_selection");
        if(useOpenSelectionCheckBox.checked) {
            document.getElementById("internal_browser").disabled = false;
            document.getElementById("external_browser").disabled = false;
        } else {
            document.getElementById("internal_browser").disabled = true;
            document.getElementById("external_browser").disabled = true;
        }
    }
</script>
{% endblock %}