{% extends 'lib/main.html' %}
{% block header_nav %}
{% endblock %}

{% block content_header %}
<h1>
    Редактировать приложения: {{app.name}}
</h1>

{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<form role="form" action="/apps_overview?id={{app.id}}" method="post" enctype="multipart/form-data">
    <section class="content">
        <div class="box box-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <a href="#" class="btn btn-default" onclick="goBack()">Отмена</a>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-info">Сохранить</button>
                            <a href="/ftp_update?id={{app.id}}" type="button"
                               class="btn btn-warning ">Обновить FTP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- left column -->
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>
                    <div class="box-body">
                        <label for="icon">Иконка приложения</label>
                        <input class="form-control" type="file" placeholder="Введите адрес" id="icon" name="icon">

                        <label for="name">Название приложения</label>
                        <input required class="form-control" type="text" placeholder="Введите имя" id="name" name="name"
                               {% if app.name %} value="{{app.name}}" {% endif %}>

                        <label for="description">Описание</label>
                        <textarea class="form-control" rows="5" id="description" name="description"
                                  placeholder="Описание">{{app.description}}</textarea>

                        <label for="init_license_term">Начальное пользовательское соглашение</label>
                        <textarea id="init_license_term" name="init_license_term" rows="5" cols="80"
                                  id="init_license_term"
                                  placeholder="Соглашение">{% if app.init_license_term %}{{app.init_license_term}}{% endif %}</textarea>

                        <label for="license_term">Пользовательское соглашение</label>
                        <textarea id="license_term" name="license_term" rows="5" cols="80" id="license_term"
                                  placeholder="Соглашение">{% if app.license_term %}{{app.license_term}}{% endif %}</textarea>
                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Интеграция</h3>
                    </div>
                    <div class="box-body">
                        <label for="name">Firebase ID</label>
                        <input required class="form-control" type="text" placeholder="Введите ID" id="fb_id"
                               name="fb_id" {% if app.fb_id %} value="{{app.fb_id}}" {% endif %}>

                        <label for="name">Firebase Key</label>
                        <input class="form-control" type="text" placeholder="Введите Key" id="fb_key"
                               name="fb_key" {% if app.fb_key %} value="{{app.fb_key}}" {% endif %}>

                        <label for="name">Идентификатор ссылки заказа</label>
                        <input required class="form-control" type="text" placeholder="Введите идентификатор"
                               id="order_tracking_source" name="order_tracking_source" {% if app.order_tracking_source
                               %}
                               value="{{app.order_tracking_source}}" {% endif %}>
                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">FTP доступ</h3>
                    </div>
                    <div class="box-body">
                        <label for="name">Адрес</label>
                        <input class="form-control" type="text" placeholder="Ввести адрес FTP сервера"
                               id="ftp_host" name="ftp_host" {% if app.ftp_host %}
                               value="{{app.ftp_host}}" {% endif %}>

                        <label for="name">Каталог</label>
                        <input class="form-control" type="text" placeholder="Ввести каталог на FTP сервера"
                               id="ftp_path" name="ftp_path" {% if app.ftp_path %}
                               value="{{app.ftp_path}}" {% endif %}>

                        <label for="name">Пользователь</label>
                        <input class="form-control" type="text" placeholder="Ввести имя пользователя FTP сервера"
                               id="ftp_username" name="ftp_username" {% if app.ftp_path %}
                               value="{{app.ftp_username}}" {% endif %}>

                        <label for="name">Пароль</label>
                        <input class="form-control" type="text" placeholder="Ввести пароль FTP сервера"
                               id="ftp_password" name="ftp_password" {% if app.ftp_path %}
                               value="{{app.ftp_password}}" {% endif %}>

                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Доступные страны</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            {% for country in countries %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="country_{{country.id}}"
                                           {% if country.id in app_countries_relation %} checked {% endif %}>
                                    {{country.name}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Вариант открытия офферов</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="use_open_selection">Задать вариант открытия офферов</label>
                            <input type="checkbox" onClick="use_open_selection_handler()" name="use_open_selection"
                                   id="use_open_selection" {%if app.browser_type and app.browser_type !="" %} checked
                                   {%endif%}>
                        </div>
                        <div class="form-group">
                            <input {%if app.browser_type and app.browser_type=="" %} disabled {%endif%}
                                   {%if app.browser_type=="internal" %} checked {%endif%} type="radio"
                                   name="browser_type"
                                   id="internal_browser" value="internal">
                            Внутренний<br>
                            <input {%if app.browser_type and app.browser_type=="" %} disabled {%endif%}
                                   {%if app.browser_type=="external" %} checked {%endif%} type="radio"
                                   name="browser_type"
                                   id="external_browser" value="external"> Внешний<br>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Модуль модерации</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="use_open_selection">Показывать документы</label>
                            <input type="checkbox" name="show_docs" id="show_docs"
                                   {%if app.show_docs and app.show_docs !="" %} checked {%endif%}>
                        </div>

                        <div class="form-group">
                            <label for="hide_init_agreement">Скрывать начальное соглашение</label>
                            <input type="checkbox" name="hide_init_agreement" id="hide_init_agreement"
                                   {%if app.hide_init_agreement and app.hide_init_agreement !="" %} checked {%endif%}>
                        </div>
                        <div class="form-group">
                            <label for="hide_init_agreement">Скрывать кнопку оформить</label>
                            <input type="checkbox" name="hide_order_offer" id="hide_order_offer"
                                   {%if app.hide_order_offer and app.hide_order_offer !="" %} checked {%endif%}>
                        </div>
                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Отображаемые офферы</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="use_open_selection">Займы</label>
                            <input class="offer_type_check_box" type="checkbox" name="loans_item" id="loans_item"
                                   onclick="on_offer_type_check()"
                                   {%if app.loans_item and app.loans_item !="" %} checked {%endif%}>
                        </div>

                        <div class="form-group">
                            <label for="use_open_selection">Кредиты</label>
                            <input class="offer_type_check_box" type="checkbox" name="credits_item" id="credits_item"
                                   onclick="on_offer_type_check()"
                                   {%if app.credits_item and app.credits_item !="" %} checked {%endif%}>
                        </div>

                        <div class="form-group">
                            <label for="use_open_selection">Новости</label>
                            <input class="offer_type_check_box" type="checkbox" name="news_item" id="news_item"
                                   onclick="on_offer_type_check()"
                                   {%if app.news_item and app.news_item !="" %} checked {%endif%}>
                        </div>

                        <div class="form-group">
                            <label for="use_open_selection">Калькулятор</label>
                            <input class="offer_type_check_box" type="checkbox" name="calculator_item"
                                   id="calculator_item" onclick="on_offer_type_check()"
                                   {%if app.calculator_item and app.calculator_item !="" %} checked {%endif%}>
                        </div>

                        <div class="form-group">
                            <label for="use_open_selection">История</label>
                            <input class="offer_type_check_box" type="checkbox" name="history_item"
                                   id="history_item" onclick="on_offer_type_check()"
                                   {%if app.history_item and app.history_item !="" %} checked {%endif%}>
                        </div>

                        <div class="form-group">
                            <label for="use_open_selection">Карты</label>
                            <input class="offer_type_check_box" type="checkbox" name="cards_item" id="cards_item"
                                   onclick="on_offer_type_check()"
                                   {%if app.cards_item and app.cards_item !="" %} checked {%endif%}>
                        </div>

                        <div class="container">
                            <div class="form-group">
                                <label for="use_open_selection">Карты кредитные</label>
                                <input class="cards_type_check_box" type="checkbox" name="cards_credit_item"
                                       id="cards_credit_item" onclick="on_cards_type_check()"
                                       {%if app.cards_credit_item and app.cards_credit_item !="" %} checked {%endif%}>
                            </div>

                            <div class="form-group">
                                <label for="use_open_selection">Карты дебетовые</label>
                                <input class="cards_type_check_box" type="checkbox" name="cards_debit_item"
                                       id="cards_debit_item" onclick="on_cards_type_check()"
                                       {%if app.cards_debit_item and app.cards_debit_item !="" %} checked {%endif%}>
                            </div>

                            <div class="form-group">
                                <label for="use_open_selection">Карты рассрочки</label>
                                <input class="cards_type_check_box" type="checkbox" name="cards_instalment_item"
                                       id="cards_instalment_item" onclick="on_cards_type_check()"
                                       {%if app.cards_instalment_item and app.cards_instalment_item !="" %} checked
                                       {%endif%}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Скрытие сроков и процентов</h3>
                    </div>
                    <div class="box-body">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="hideTermFields"
                                       {% if app.hideTermFields %}
                                       checked
                                       {% endif %}
                                >
                                Скрывать сроки
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="hidePercentFields"
                                       {% if app.hidePercentFields %}
                                       checked
                                       {% endif %}
                                >
                                Скрывать проценты
                            </label>
                        </div>

                    </div>
                </div>
            </section>
        </div>

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Документы</h3>
            </div>
            <div class="box-body">
                <div id="apps_documents" class="form-group">
                    {% for document in app_documents %}
                    <div class="row" id="apps_documents_row_{{document.position}}">
                        <div class="col-md-4">
                            <label for="apps_doc_name_{{document.position}}">Название</label>
                            <input class="form-control" name="apps_doc_name_{{document.position}}"
                                   id="apps_doc_name_{{document.position}}" value="{{document.name}}">
                        </div>

                        <div class="col-md-4">
                            <label for="apps_doc_url_{{document.position}}">Ссылка</label>
                            <input class="form-control" name="apps_doc_url_{{document.position}}"
                                   id="apps_doc_url_{{document.position}}" value="{{document.url}}">
                        </div>
                        <div class="col-md-2">
                            <label for="apps_doc_type_{{document.position}}">Тип</label>
                            <select class="form-control" name="apps_doc_type_{{document.position}}"
                                    id="apps_doc_type_{{document.position}}">
                                {% for doc_type in apps_documents_types %}
                                <option value="{{doc_type.name}}" {% if document.type==doc_type.id %} selected
                                        {% endif %}>{{doc_type.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label for="apps_doc_remove_{{document.position}}"></label>
                            <a class="text-danger" id="apps_doc_remove_{{document.position}}"
                               onclick="document.getElementById('apps_documents_row_{{document.position}}').remove()">
                                <h4><i class="fa fa-remove text-red"></i></h4>
                            </a>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
            <div class="box-footer">
                <a onclick="addDocumentsrow()" class="btn btn-info">Добавить</a>
            </div>
        </div>

        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Пользовательское соглашение по странам</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for country in countries %}
                <label for="country_init_license_term_{{ country.id }}">Начальное соглашение для
                    {{country.name}}</label>
                <textarea id="country_init_license_term_{{ country.id }}"
                          name="country_init_license_term_{{country.id }}" rows="5" cols="80"
                          placeholder="Соглашение">{% if country.id in app_country_init_terms %}{{app_country_init_terms[country.id].license_term}}{% endif %}</textarea>

                <label for="country_license_term_{{ country.id }}">Соглашение для {{country.name}}</label>
                <textarea id="country_license_term_{{ country.id }}" name="country_license_term_{{country.id }}"
                          rows="5" cols="80"
                          placeholder="Соглашение">{% if country.id in app_country_terms %}{{app_country_terms[country.id].license_term}}{% endif %}</textarea>
                {% endfor %}
            </div>
        </div>

        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Отображаемые офферы по странам</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for country in countries %}
                <div class="box-body">
                    <label for="country_init_license_term_{{ country.id }}">Отоброжаемые элементы для страны
                        {{country.name}}</label>

                    <div class="form-group">
                        <label for="use_open_selection">Скрывать кнопку оформить</label>
                        <input class="offer_type_check_box" type="checkbox"
                               name="country_offer_hide_order_offer_{{country.id}}"
                               id="country_offer_hide_order_offer_{{country.id}}"
                               onclick="on_offer_type_check()"
                               {% if country.id in app_countries_visible_offers %}
                               {% if app_countries_visible_offers[country.id].hide_order_offer== True %}
                               checked
                               {%endif%}
                               {% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="use_open_selection">Займы</label>
                        <input class="offer_type_check_box" type="checkbox"
                               name="country_offer_loans_item_{{country.id}}"
                               id="country_offer_loans_item_{{country.id}}"
                               onclick="on_offer_type_check()"
                               {% if country.id in app_countries_visible_offers %}
                               {% if app_countries_visible_offers[country.id].loans_item== True %}
                               checked
                               {%endif%}
                               {% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="use_open_selection">Кредиты</label>
                        <input class="offer_type_check_box" type="checkbox"
                               name="country_offer_credits_item_{{country.id}}"
                               id="country_offer_credits_item_{{country.id}}"
                               onclick="on_offer_type_check()"
                               {% if country.id in app_countries_visible_offers %}
                               {% if app_countries_visible_offers[country.id].credits_item== True %}
                               checked
                               {%endif%}
                               {% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="use_open_selection">Новости</label>
                        <input class="offer_type_check_box" type="checkbox"
                               name="country_offer_news_item_{{country.id}}" id="country_offer_news_item_{{country.id}}"
                               onclick="on_offer_type_check()"
                               {% if country.id in app_countries_visible_offers %}
                               {% if app_countries_visible_offers[country.id].news_item== True %}
                               checked
                               {%endif%}
                               {% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="use_open_selection">Калькулятор</label>
                        <input class="offer_type_check_box" type="checkbox"
                               name="country_offer_calculator_item_{{country.id}}"
                               id="country_offer_calculator_item_{{country.id}}"
                               onclick="on_offer_type_check()"
                               {% if country.id in app_countries_visible_offers %}
                               {% if app_countries_visible_offers[country.id].calculator_item== True %}
                               checked
                               {%endif%}
                               {% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="use_open_selection">История</label>
                        <input class="offer_type_check_box" type="checkbox"
                               name="country_offer_history_item_{{country.id}}"
                               id="country_offer_history_item_{{country.id}}"
                               onclick="on_offer_type_check()"
                               {% if country.id in app_countries_visible_offers %}
                               {% if app_countries_visible_offers[country.id].history_item== True %}
                               checked
                               {%endif%}
                               {% endif %}>
                    </div>

                    <div class="form-group">
                        <label for="use_open_selection">Карты</label>
                        <input class="offer_type_check_box" type="checkbox"
                               name="country_offer_cards_item_{{country.id}}"
                               id="country_offer_cards_item_{{country.id}}"
                               onclick="on_offer_type_check()"
                               {% if country.id in app_countries_visible_offers %}
                               {% if app_countries_visible_offers[country.id].cards_item== True %}
                               checked
                               {%endif%}
                               {% endif %}>
                    </div>

                    <div class="container">
                        <div class="form-group">
                            <label for="use_open_selection">Карты кредитные</label>
                            <input class="cards_type_check_box" type="checkbox"
                                   name="country_offer_cards_credit_item_{{country.id}}"
                                   id="country_offer_cards_credit_item_{{country.id}}" onclick="on_cards_type_check()"
                                   {% if country.id in app_countries_visible_offers %}
                                   {% if app_countries_visible_offers[country.id].cards_credit_item== True %}
                                   checked
                                   {%endif%}
                                   {% endif %}>
                        </div>

                        <div class="form-group">
                            <label for="use_open_selection">Карты дебетовые</label>
                            <input class="cards_type_check_box" type="checkbox"
                                   name="country_offer_cards_debit_item_{{country.id}}"
                                   id="country_offer_cards_debit_item_{{country.id}}" onclick="on_cards_type_check()"
                                   {% if country.id in app_countries_visible_offers %}
                                   {% if app_countries_visible_offers[country.id].cards_debit_item== True %}
                                   checked
                                   {%endif%}
                                   {% endif %}>
                        </div>

                        <div class="form-group">
                            <label for="use_open_selection">Карты рассрочки</label>
                            <input class="cards_type_check_box" type="checkbox"
                                   name="country_offer_cards_instalment_item_{{country.id}}"
                                   id="country_offer_cards_instalment_item_{{country.id}}"
                                   onclick="on_cards_type_check()"
                                   {% if country.id in app_countries_visible_offers %}
                                   {% if app_countries_visible_offers[country.id].cards_instalment_item== True %}
                                   checked
                                   {%endif%}
                                   {% endif %}>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="box box-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <a href="#" class="btn btn-default" onclick="goBack()">Отмена</a>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-info">Сохранить</button>
                            <a href="/ftp_update?id={{app.id}}" type="button"
                               class="btn btn-warning ">Обновить FTP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<!-- /.box-body -->
</div>

{% endblock %}

{% block page_scripts %}
<script src="/static/bower_components/ckeditor/ckeditor.js"></script>
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('license_term');
        CKEDITOR.replace('init_license_term');
        {%
            for country in countries %}
        CKEDITOR.replace('country_license_term_{{ country.id }}');
        CKEDITOR.replace('country_init_license_term_{{ country.id }}');
        {%
            endfor %}
        //bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5()
    });

    function addDocumentsrow() {
        console.log("Adding document row");
        var appsDocuments = document.getElementById("apps_documents");

        if (!window.documentsCount) {
            window.documentsCount = appsDocuments.children.length;
        } else {
            window.documentsCount++;
        }
        var elemnentNum = window.documentsCount;
        console.log(elemnentNum);

        rowElement = document.createElement("div");
        rowElement.setAttribute("class", "row");
        rowElement.setAttribute("id", "apps_documents_row_" + elemnentNum);

        // Document name
        colNameElement = document.createElement("div");
        colNameElement.setAttribute("class", "col-md-4");
        rowElement.appendChild(colNameElement);

        labelNameElement = document.createElement("label");
        labelNameElement.setAttribute("for", "apps_doc_name_" + elemnentNum);
        labelNameElement.innerText = "Название";
        colNameElement.appendChild(labelNameElement);
        inputNameElement = document.createElement("input");
        inputNameElement.setAttribute("class", "form-control");
        inputNameElement.setAttribute("name", "apps_doc_name_" + elemnentNum);
        inputNameElement.setAttribute("id", "apps_doc_name_" + elemnentNum);
        colNameElement.appendChild(inputNameElement);

        // Document url
        colUrlElement = document.createElement("div");
        colUrlElement.setAttribute("class", "col-md-4");
        rowElement.appendChild(colUrlElement);

        labelUrlElement = document.createElement("label");
        labelUrlElement.setAttribute("for", "apps_doc_url_" + elemnentNum);
        labelUrlElement.innerText = "Ссылка";
        colUrlElement.appendChild(labelUrlElement);
        inputUrlElement = document.createElement("input");
        inputUrlElement.setAttribute("class", "form-control");
        inputUrlElement.setAttribute("name", "apps_doc_url_" + elemnentNum);
        inputUrlElement.setAttribute("id", "apps_doc_url_" + elemnentNum);
        colUrlElement.appendChild(inputUrlElement);

        appsDocuments.appendChild(rowElement);

        // Document type
        colTypeElement = document.createElement("div");
        colTypeElement.setAttribute("class", "col-md-2");
        rowElement.appendChild(colTypeElement);

        labelTypeElement = document.createElement("label");
        labelTypeElement.setAttribute("for", "apps_doc_type_" + elemnentNum);
        labelTypeElement.innerText = "Тип";
        colTypeElement.appendChild(labelTypeElement);

        selectTypeElement = document.createElement("select");
        selectTypeElement.setAttribute("class", "form-control");
        selectTypeElement.setAttribute("name", "apps_doc_type_" + elemnentNum);
        selectTypeElement.setAttribute("id", "apps_doc_type_" + elemnentNum);
        colTypeElement.appendChild(selectTypeElement);

        {% for doc_type in apps_documents_types %}
        optionImgElement = document.createElement("option");
        optionImgElement.setAttribute("value", "{{doc_type.name}}");
        optionImgElement.innerText = "{{doc_type.name}}";
        selectTypeElement.appendChild(optionImgElement);
        {% endfor %}


        // optionPdfElement = document.createElement("option");
        // optionPdfElement.setAttribute("value", "PDF");
        // optionPdfElement.innerText = "PDF";
        // selectTypeElement.appendChild(optionPdfElement);

        // Document remove
        colRemoveElement = document.createElement("div");
        colRemoveElement.setAttribute("class", "col-md-2");
        rowElement.appendChild(colRemoveElement);

        labelRemoveElement = document.createElement("label");
        labelRemoveElement.setAttribute("for", "apps_doc_remove_" + elemnentNum);
        colRemoveElement.appendChild(labelRemoveElement);

        buttonRemoveElement = document.createElement("a");
        buttonRemoveElement.setAttribute("class", "text-danger");
        buttonRemoveElement.setAttribute("onClick", "document.getElementById(\"apps_documents_row_" + elemnentNum + "\").remove()");
        selectTypeElement.setAttribute("id", "apps_doc_remove_" + elemnentNum);
        colRemoveElement.appendChild(buttonRemoveElement);

        hRemoveElement = document.createElement("h4");
        buttonRemoveElement.appendChild(hRemoveElement);

        iconRemoveelement = document.createElement("i");
        iconRemoveelement.setAttribute("class", "fa fa-remove text-red");
        hRemoveElement.appendChild(iconRemoveelement);

        appsDocuments.appendChild(rowElement);
    }

    function use_open_selection_handler() {
        useOpenSelectionCheckBox = document.getElementById("use_open_selection");
        if (useOpenSelectionCheckBox.checked) {
            document.getElementById("internal_browser").disabled = false;
            document.getElementById("external_browser").disabled = false;
        } else {
            document.getElementById("internal_browser").disabled = true;
            document.getElementById("external_browser").disabled = true;
        }
    }

    function on_offer_type_check() {
        checked_offer_items = $("input:checkbox[class=offer_type_check_box]:checked");
        if(checked_offer_items.length < 2) {
            alert("Должно быть выбрано минимум 2 типа офферов")
        }
    }

    function on_cards_type_check() {
        checked_offer_items = $("input:checkbox[class=cards_type_check_box]:checked");
        if(checked_offer_items.length < 1) {
            alert("Должно быть выбрано минимум 1 тип карт")
        }
    }










</script>
{% endblock %}