{% extends 'lib/main.html' %}
{% block header_nav %}
{% endblock %}

{% block content_header %}
<h1>
    Редактирование приложения: {{app.name}}
</h1>

{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<form role="form" action="/apps_overview?id={{app.id}}" method="post" enctype="multipart/form-data">
    <section class="content">
        <div class="box box-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <button class="btn btn-default" onclick="goBack()">Отмена</button>
                        <button type="submit" class="btn btn-info pull-right">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- left column -->
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>
                    <div class="box-body">
                        <label for="icon">Иконка приложения</label>
                        <input class="form-control" type="file" placeholder="Введите адрес" id="icon" name="icon">

                        <label for="name">Название приложения</label>
                        <input required class="form-control" type="text" placeholder="Введите имя" id="name"
                               name="name"
                               {% if app.name %}
                               value="{{app.name}}"
                               {% endif %}
                        >

                        <label for="description">Описание</label>
                        <textarea class="form-control" rows="5" id="description" name="description"
                                  placeholder="Описание">{{app.description}}</textarea>

                        <label for="init_license_term">Начальное пользовательское соглашение</label>
                        <textarea id="init_license_term" name="init_license_term" rows="5" cols="80"
                                  id="init_license_term"
                                  placeholder="Соглашение">{% if app.init_license_term %}{{app.init_license_term}}{% endif %}</textarea>

                        <label for="license_term">Пользовательское соглашение</label>
                        <textarea id="license_term" name="license_term" rows="5" cols="80" id="license_term"
                                  placeholder="Соглашение">{% if app.license_term %}{{app.license_term}}{% endif %}</textarea>
                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Интеграция</h3>
                    </div>
                    <div class="box-body">
                        <label for="name">Firebase ID</label>
                        <input required class="form-control" type="text" placeholder="Введите ID" id="fb_id"
                               name="fb_id"
                               {% if app.fb_id %}
                               value="{{app.fb_id}}"
                               {% endif %}
                        >

                        <label for="name">Идентификатор ссылки заказа</label>
                        <input required class="form-control" type="text" placeholder="Введите идентификатор"
                               id="order_tracking_source"
                               name="order_tracking_source"
                               {% if app.order_tracking_source %}
                               value="{{app.order_tracking_source}}"
                               {% endif %}
                        >
                    </div>
                </div>
            </section>

            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Доступные страны</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            {% for country in countries %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="country_{{country.id}}"
                                           {% if country.id in app_countries_relation %}
                                           checked
                                           {% endif %}
                                    >
                                    {{country.name}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Вариант открытия офферов</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="use_open_selection">Задать вариант открытия офферов</label>
                            <input type="checkbox" onClick="use_open_selection_handler()" name="use_open_selection"
                                   id="use_open_selection"
                                   {%if app.browser_type and app.browser_type !="" %} checked {%endif%}
                            >
                        </div>
                        <div class="form-group">
                            <input {%if app.browser_type and app.browser_type=="" %} disabled {%endif%}
                                   {%if app.browser_type=="internal" %} checked {%endif%}
                                   type="radio" name="browser_type" id="internal_browser" value="internal">
                            Внутренний<br>
                            <input {%if app.browser_type and app.browser_type=="" %} disabled {%endif%}
                                   {%if app.browser_type=="external" %} checked {%endif%}
                                   type="radio" name="browser_type" id="external_browser" value="external"> Внешний<br>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Документы и соглашения</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="use_open_selection">Показывать документы</label>
                            <input type="checkbox" name="show_docs"
                                   id="show_docs"
                                   {%if app.show_docs and app.show_docs !="" %} checked {%endif%}
                            >
                        </div>

                        <div class="form-group">
                            <label for="hide_init_agreement">Скрывать начальное соглашение</label>
                            <input type="checkbox" name="hide_init_agreement"
                                   id="hide_init_agreement"
                                   {%if app.hide_init_agreement and app.hide_init_agreement !="" %} checked {%endif%}
                            >
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Документы</h3>
            </div>
            <div class="box-body">
                <div id="apps_documents" class="form-group">
                    {% for document in app_documents %}
                    <div class="row" id="apps_documents_row_{{document.position}}">
                        <div class="col-md-4">
                            <label for="apps_doc_name_{{document.position}}">Название</label>
                            <input class="form-control" name="apps_doc_name_{{document.position}}" id="apps_doc_name_{{document.position}}"
                            value="{{document.name}}">
                        </div>

                        <div class="col-md-4">
                            <label for="apps_doc_url_{{document.position}}">Ссылка</label>
                            <input class="form-control" name="apps_doc_url_{{document.position}}" id="apps_doc_url_{{document.position}}"
                            value="{{document.url}}">
                        </div>
                        <div class="col-md-2">
                            <label for="apps_doc_type_{{document.position}}">Тип</label>
                            <select class="form-control" name="apps_doc_type_{{document.position}}" id="apps_doc_type_{{document.position}}">
                                {% for doc_type in apps_documents_types %}
                                    <option value="{{doc_type.name}}" {% if document.type==doc_type.id %} selected {% endif %}>{{doc_type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label for="apps_doc_remove_{{document.position}}"></label>
                            <a class="text-danger" id="apps_doc_remove_{{document.position}}"
                               onclick="document.getElementById('apps_documents_row_{{document.position}}').remove()"><h4><i
                                    class="fa fa-remove text-red"></i></h4></a>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
            <div class="box-footer">
                <a onclick="addDocumentsrow()" class="btn btn-info">Добавить</a>
            </div>
        </div>

        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Пользовательское соглашение по странам</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for country in countries %}
                <label for="country_init_license_term_{{ country.id }}">Начальное соглашение для
                    {{country.name}}</label>
                <textarea id="country_init_license_term_{{ country.id }}"
                          name="country_init_license_term_{{country.id }}" rows="5" cols="80"
                          placeholder="Соглашение">{% if country.id in app_country_init_terms %}{{app_country_init_terms[country.id].license_term}}{% endif %}</textarea>

                <label for="country_license_term_{{ country.id }}">Соглашение для {{country.name}}</label>
                <textarea id="country_license_term_{{ country.id }}" name="country_license_term_{{country.id }}"
                          rows="5" cols="80"
                          placeholder="Соглашение">{% if country.id in app_country_terms %}{{app_country_terms[country.id].license_term}}{% endif %}</textarea>
                {% endfor %}
            </div>
        </div>

        <div class="box box-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <button class="btn btn-default" onclick="goBack()">Отмена</button>
                        <button type="submit" class="btn btn-info pull-right">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<!-- /.box-body -->
</div>

{% endblock %}

{% block page_scripts %}
<script src="/static/bower_components/ckeditor/ckeditor.js"></script>
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('license_term');
        CKEDITOR.replace('init_license_term');
        {%
            for country in countries %}
        CKEDITOR.replace('country_license_term_{{ country.id }}');
        CKEDITOR.replace('country_init_license_term_{{ country.id }}');
        {%
            endfor %}
        //bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5()
    });

    function addDocumentsrow() {
        console.log("Adding document row");
        var appsDocuments = document.getElementById("apps_documents");

        if (!window.documentsCount) {
            window.documentsCount = appsDocuments.children.length;
        } else {
            window.documentsCount++;
        }
        var elemnentNum = window.documentsCount;
        console.log(elemnentNum);

        rowElement = document.createElement("div");
        rowElement.setAttribute("class", "row");
        rowElement.setAttribute("id", "apps_documents_row_" + elemnentNum);

        // Document name
        colNameElement = document.createElement("div");
        colNameElement.setAttribute("class", "col-md-4");
        rowElement.appendChild(colNameElement);

        labelNameElement = document.createElement("label");
        labelNameElement.setAttribute("for", "apps_doc_name_" + elemnentNum);
        labelNameElement.innerText = "Название";
        colNameElement.appendChild(labelNameElement);
        inputNameElement = document.createElement("input");
        inputNameElement.setAttribute("class", "form-control");
        inputNameElement.setAttribute("name", "apps_doc_name_" + elemnentNum);
        inputNameElement.setAttribute("id", "apps_doc_name_" + elemnentNum);
        colNameElement.appendChild(inputNameElement);

        // Document url
        colUrlElement = document.createElement("div");
        colUrlElement.setAttribute("class", "col-md-4");
        rowElement.appendChild(colUrlElement);

        labelUrlElement = document.createElement("label");
        labelUrlElement.setAttribute("for", "apps_doc_url_" + elemnentNum);
        labelUrlElement.innerText = "Ссылка";
        colUrlElement.appendChild(labelUrlElement);
        inputUrlElement = document.createElement("input");
        inputUrlElement.setAttribute("class", "form-control");
        inputUrlElement.setAttribute("name", "apps_doc_url_" + elemnentNum);
        inputUrlElement.setAttribute("id", "apps_doc_url_" + elemnentNum);
        colUrlElement.appendChild(inputUrlElement);

        appsDocuments.appendChild(rowElement);

        // Document type
        colTypeElement = document.createElement("div");
        colTypeElement.setAttribute("class", "col-md-2");
        rowElement.appendChild(colTypeElement);

        labelTypeElement = document.createElement("label");
        labelTypeElement.setAttribute("for", "apps_doc_type_" + elemnentNum);
        labelTypeElement.innerText = "Тип";
        colTypeElement.appendChild(labelTypeElement);

        selectTypeElement = document.createElement("select");
        selectTypeElement.setAttribute("class", "form-control");
        selectTypeElement.setAttribute("name", "apps_doc_type_" + elemnentNum);
        selectTypeElement.setAttribute("id", "apps_doc_type_" + elemnentNum);
        colTypeElement.appendChild(selectTypeElement);

        {% for doc_type in apps_documents_types %}
            optionImgElement = document.createElement("option");
            optionImgElement.setAttribute("value", "{{doc_type.name}}");
            optionImgElement.innerText = "{{doc_type.name}}";
            selectTypeElement.appendChild(optionImgElement);
        {% endfor %}


        // optionPdfElement = document.createElement("option");
        // optionPdfElement.setAttribute("value", "PDF");
        // optionPdfElement.innerText = "PDF";
        // selectTypeElement.appendChild(optionPdfElement);

        // Document remove
        colRemoveElement = document.createElement("div");
        colRemoveElement.setAttribute("class", "col-md-2");
        rowElement.appendChild(colRemoveElement);

        labelRemoveElement = document.createElement("label");
        labelRemoveElement.setAttribute("for", "apps_doc_remove_" + elemnentNum);
        colRemoveElement.appendChild(labelRemoveElement);

        buttonRemoveElement = document.createElement("a");
        buttonRemoveElement.setAttribute("class", "text-danger");
        buttonRemoveElement.setAttribute("onClick", "document.getElementById(\"apps_documents_row_" + elemnentNum + "\").remove()");
        selectTypeElement.setAttribute("id", "apps_doc_remove_" + elemnentNum);
        colRemoveElement.appendChild(buttonRemoveElement);

        hRemoveElement = document.createElement("h4");
        buttonRemoveElement.appendChild(hRemoveElement);

        iconRemoveelement = document.createElement("i");
        iconRemoveelement.setAttribute("class", "fa fa-remove text-red");
        hRemoveElement.appendChild(iconRemoveelement);

        appsDocuments.appendChild(rowElement);
    }

    function use_open_selection_handler() {
        useOpenSelectionCheckBox = document.getElementById("use_open_selection");
        if (useOpenSelectionCheckBox.checked) {
            document.getElementById("internal_browser").disabled = false;
            document.getElementById("external_browser").disabled = false;
        } else {
            document.getElementById("internal_browser").disabled = true;
            document.getElementById("external_browser").disabled = true;
        }
    }
</script>
{% endblock %}