{% extends 'lib/main.html' %}
{% block header_nav %}
{% endblock %}

{% block content_header %}
<h1>
    Редактировать оффера - {{offer.name}}
</h1>

{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<form role="form"
      action="/offers_overview?id={{offer.id}}&state={{offers_state}}&current_app={{current_app}}&current_country={{current_country}}"
      method="post">
    <section class="content">
        <div class="box box-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <a href="#" class="btn btn-default" onclick="goBack()">Отмена</a>
                        <button type="submit" class="btn btn-info pull-right">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- left column -->
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Основная информация</h3>
                    </div>
                    <div class="box-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="isActive"
                                       {% if offer.isActive %}
                                       checked
                                       {% endif %}>
                                Активен
                            </label>
                        </div>

                        <label for="name">Название оффера</label>
                        <input class="form-control" type="text" placeholder="Введите имя" id="name" name="name"
                               value="{{offer.name}}">

                        <label for="comment">Комментарий</label>
                        <input class="form-control" type="text" placeholder="Введите комментарий" id="comment"
                               name="comment"
                               {% if offer.comment %}
                               value="{{offer.comment}}"
                               {% endif %}}
                        >

                        <div class="form-group">
                            <label>Тип оффера</label>
                            <select class="form-control" name="offer_type">
                                {% for offer_type in offers_types%}
                                <option
                                        value="{{offer_type.id}}"
                                        {% if offer_type.id== offer.offer_type%}
                                        selected
                                        {% endif %}
                                >{{offer_type.description}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <label for="itemId">ID оффера</label>
                        <input class="form-control" type="text" placeholder="Введите уникальный ID" id="itemId"
                               name="itemId"
                               {% if offer.itemId %}
                               value="{{offer.itemId}}"
                               {% endif %}
                        >

                        <label for="order">Ссылка ддя оформления</label>
                        <input class="form-control" type="text" placeholder="Введите адрес" id="order" name="order"
                               {% if offer.order %}
                               value="{{offer.order}}"
                               {% endif %}
                        >

                        <label for="screen">Ссылка на картинку по умолчанию</label>
                        <input class="form-control" type="text" placeholder="Введите адрес" id="screen" name="screen"
                               {% if offer.screen %}
                               value="{{offer.screen}}"
                               {% endif %}
                        >
                        <img class="img-responsive" width="100px" src="{{ offer.screen }}" alt="Photo">

                        <label for="description">Описание</label>

                        <textarea rows="5" cols="80" id="description" name="description"
                                  placeholder="HTML описание">{% if offer.description %}{{offer.description}}{% endif %}</textarea>

                    </div>
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Способы выплат</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="mir"
                                           {% if offer.mir %}
                                           checked
                                           {% endif %}
                                    >
                                    Карта МИР
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="visa"
                                           {% if offer.visa %}
                                           checked
                                           {% endif %}
                                    >
                                    Карта VISA
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="mastercard"
                                           {% if offer.mastercard %}
                                           checked
                                           {% endif %}
                                    >
                                    Карта Mastercard
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="qiwi"
                                           {% if offer.qiwi %}
                                           checked
                                           {% endif %}
                                    >
                                    QIWI
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="yandex"
                                           {% if offer.yandex %}
                                           checked
                                           {% endif %}
                                    >
                                    Yandex
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="cash"
                                           {% if offer.cash %}
                                           checked
                                           {% endif %}
                                    >
                                    Наличные
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Страны</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            {% for country in countries %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="country_{{country.id}}"
                                           {% if country.id in offer_countries %}
                                           checked
                                           {% endif %}
                                    >
                                    {{country.name}}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Вариант открытия офферов</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="use_open_selection">Задать вариант открытия офферов</label>
                            <input type="checkbox" onClick="use_open_selection_handler()" name="use_open_selection"
                                   id="use_open_selection"
                                   {%if offer.browser_type and offer.browser_type !="" %} checked {%endif%}
                            >
                        </div>
                        <div class="form-group">
                            <input {%if offer.browser_type=="" %} disabled {%endif%}
                                   {%if offer.browser_type=="internal" %} checked {%endif%}
                                   type="radio" name="browser_type" id="internal_browser" value="internal">
                            Внутренний<br>
                            <input {%if offer.browser_type=="" %} disabled {%endif%}
                                   {%if offer.browser_type=="external" %} checked {%endif%}
                                   type="radio" name="browser_type" id="external_browser" value="external"> Внешний<br>
                        </div>
                    </div>
                </div>


            </section>
            <section class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Приложения</h3>
                    </div>
                    <div class="box-body">
                        {% for app in apps %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="app_{{app.id}}"
                                       {% if app.id in offer_apps %}
                                       checked
                                       {% endif %}
                                >
                                {{app.name}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Отображаемые элементы</h3>
                    </div>
                    <div class="box-body">
                        <label for="orderButtonText">Текст кнопки оформить</label>
                        <input class="form-control" type="text" placeholder="Введите текст" id="orderButtonText"
                               name="orderButtonText"
                               {% if offer.orderButtonText %}
                               value="{{offer.orderButtonText}}"
                               {% endif %}
                        >

                        <label for="score">Рейтинг</label>
                        <input class="form-control" type="text" placeholder="Введите рейтинг" id="score" name="score"
                               {% if offer.score %}
                               value="{{offer.score}}"
                               {% endif %}
                        >

                        <label for="score">Зеленый маркер</label>
                        <input class="form-control" type="text" placeholder="Введите текст маркера"
                               id="greenStickerText"
                               name="greenStickerText"
                               {% if offer.greenStickerText %}
                               value="{{offer.greenStickerText}}"
                               {% endif %}
                        >

                        <label for="score">Синий маркер</label>
                        <input class="form-control" type="text" placeholder="Введите текст маркера" id="blueStickerText"
                               name="blueStickerText"
                               {% if offer.blueStickerText %}
                               value="{{offer.blueStickerText}}"
                               {% endif %}
                        >

                        <label for="score">Красный маркер</label>
                        <input class="form-control" type="text" placeholder="Введите текст маркера" id="redStickerText"
                               name="redStickerText"
                               {% if offer.redStickerText %}
                               value="{{offer.redStickerText}}"
                               {% endif %}
                        >

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="hideTermFields"
                                       {% if offer.hideTermFields %}
                                       checked
                                       {% endif %}
                                >
                                Скрывать сроки
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="hidePercentFields"
                                       {% if offer.hidePercentFields %}
                                       checked
                                       {% endif %}
                                >
                                Скрывать проценты
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ставки</h3>
                    </div>
                    <div class="box-body">

                        <label for="percentPrefix">Префикс процентов</label>
                        <input class="form-control" type="text" placeholder="Префикс процентов" id="percentPrefix"
                               name="percentPrefix"
                               {% if offer.percentPrefix %}
                               value="{{offer.percentPrefix}}"
                               {% endif %}
                        >

                        <label for="percent">Процентная ставка</label>
                        <input class="form-control" type="text" placeholder="Введите ставку" id="percent"
                               name="percent"
                               {% if offer.percent %}
                               value="{{offer.percent}}"
                               {% endif %}
                        >

                        <label for="percentPostfix">Постфикс процентов</label>
                        <input class="form-control" type="text" placeholder="Введите Постфикс" id="percentPostfix"
                               name="percentPostfix"
                               {% if offer.percentPostfix %}
                               value="{{offer.percentPostfix}}"
                               {% endif %}
                        >
                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Суммы</h3>
                    </div>
                    <div class="box-body">
                        <label for="summPrefix">Префикс суммы</label>
                        <input class="form-control" type="text" placeholder="Префикс суммы" id="summPrefix"
                               name="summPrefix"
                               {% if offer.summPrefix %}
                               value="{{offer.summPrefix}}"
                               {% endif %}
                        >

                        <label for="summMin">Сумма от</label>
                        <input class="form-control" type="text" placeholder="Введите сумму" id="summMin" name="summMin"
                               {% if offer.summMin %}
                               value="{{offer.summMin}}"
                               {% endif %}
                        >

                        <label for="summMid">Разделитель суммы</label>
                        <input class="form-control" type="text" placeholder="Введите разделитель" id="summMid"
                               name="summMid"
                               {% if offer.summMid %}
                               value="{{offer.summMid}}"
                               {% endif %}
                        >

                        <label for="summMax">Сумма до</label>
                        <input class="form-control" type="text" placeholder="Введите сумму" id="summMax" name="summMax"
                               {% if offer.summMax %}
                               value="{{offer.summMax}}"
                               {% endif %}
                        >

                        <label for="summPostfix">Постфикс суммы</label>
                        <input class="form-control" type="text" placeholder="Постфикс суммы" id="summPostfix"
                               name="summPostfix"
                               {% if offer.summPostfix %}
                               value="{{offer.summPostfix}}"
                               {% endif %}
                        >
                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Сроки</h3>
                    </div>
                    <div class="box-body">
                        <label for="termPrefix">Префикс сроков</label>
                        <input class="form-control" type="text" placeholder="Префикс сроков" id="termPrefix"
                               name="termPrefix"
                               {% if offer.termPrefix %}
                               value="{{offer.termPrefix}}"
                               {% endif %}
                        >

                        <label for="termMin">Срок от</label>
                        <input class="form-control" type="text" placeholder="Введите срок" id="termMin" name="termMin"
                               {% if offer.termMin %}
                               value="{{offer.termMin}}"
                               {% endif %}
                        >

                        <label for="termMid">Разделитель сроков</label>
                        <input class="form-control" type="text" placeholder="Разделитель сроков" id="termMid"
                               name="termMid"
                               {% if offer.termMid %}
                               value="{{offer.termMid}}"
                               {% endif %}
                        >

                        <label for="termMax">Срок до</label>
                        <input class="form-control" type="text" placeholder="Введите срок" id="termMax" name="termMax"
                               {% if offer.termMax %}
                               value="{{offer.termMax}}"
                               {% endif %}
                        >

                        <label for="termPostfix">Постфикс сроков</label>
                        <input class="form-control" type="text" placeholder="Постфикс сроков" id="termPostfix"
                               name="termPostfix"
                               {% if offer.termPostfix %}
                               value="{{offer.termPostfix}}"
                               {% endif %}
                        >

                    </div>
                </div>
            </section>
        </div>

        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Ссылки офферов по приложениям</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for app in apps %}
                <label for="order_app_{{app.id}}">Ссылка на заказ {{app.name}}</label>
                <input class="form-control" type="text" placeholder="Введите адрес"
                       name="order_app_{{app.id}}"
                       id="order_app_{{app.id}}"
                       {% if app.id in offer_apps_orders %}
                       value="{{offer_apps_orders[app.id]}}"
                       {% endif %}
                >
                {% endfor %}
            </div>
        </div>

        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Название офферов по приложениям</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for app in apps %}
                <label for="name_app_{{app.id}}">Название оффера для {{app.name}}</label>
                <input class="form-control" type="text" placeholder="Введите имя"
                       name="name_app_{{app.id}}"
                       id="name_app_{{app.id}}"
                       {% if app.id in offer_apps_names %}
                       value="{{offer_apps_names[app.id]}}"
                       {% endif %}
                >
                {% endfor %}
            </div>
        </div>

        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Картинки офферов по приложениям</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for app in apps %}
                <label for="screen_app_{{app.id}}">Ссылка на картинку {{app.name}}</label>
                <input class="form-control" type="text" placeholder="Введите адрес"
                       name="screen_app_{{app.id}}"
                       id="screen_app_{{app.id}}"
                       {% if app.id in offer_apps_creatives %}
                       value="{{offer_apps_creatives[app.id]}}"
                       {% endif %}
                >
                {% if app.id in offer_apps_creatives %}
                <img class="img-responsive" width="100px" src="{{offer_apps_creatives[app.id]}}"
                     alt="Photo">
                {% endif %}

                {% endfor %}
            </div>
        </div>

        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Ставки офферов по приложениям</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for app in apps %}
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ставки приложения <b>{{app.name}}</b></h3>
                    </div>
                    <div class="box-body">

                        <label for="percentPrefix_app_{{app.id}}">Префикс процентов</label>
                        <input class="form-control" type="text" placeholder="Префикс процентов"
                               id="percentPrefix_app_{{app.id}}"
                               name="percentPrefix_app_{{app.id}}"
                               {% if app.id in offer_apps_percents %}
                               value="{{offer_apps_percents[app.id].percentPrefix}}"
                               {% endif %}
                        >

                        <label for="percent_app_{{app.id}}">Процентная ставка</label>
                        <input class="form-control" type="text" placeholder="Введите ставку" id="percent_app_{{app.id}}"
                               name="percent_app_{{app.id}}"
                               {% if app.id in offer_apps_percents %}
                               value="{{offer_apps_percents[app.id].percent}}"
                               {% endif %}
                        >

                        <label for="percentPostfix_app_{{app.id}}">Постфикс процентов</label>
                        <input class="form-control" type="text" placeholder="Введите Постфикс"
                               id="percentPostfix_app_{{app.id}}"
                               name="percentPostfix_app_{{app.id}}"
                               {% if app.id in offer_apps_percents %}
                               value="{{offer_apps_percents[app.id].percentPostfix}}"
                               {% endif %}
                        >
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>


        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Суммы офферов по приложениям</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for app in apps %}
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Суммы приложения <b>{{app.name}}</b></h3>
                    </div>
                    <div class="box-body">
                        <label for="summPrefix_app_{{app.id}}">Префикс суммы</label>
                        <input class="form-control" type="text" placeholder="Префикс суммы"
                               id="summPrefix_app_{{app.id}}"
                               name="summPrefix_app_{{app.id}}"
                               {% if app.id in offer_apps_summs %}
                               value="{{offer_apps_summs[app.id].summPrefix}}"
                               {% endif %}
                        >

                        <label for="summMin_app_{{app.id}}">Сумма от</label>
                        <input class="form-control" type="text" placeholder="Введите сумму" id="summMin_app_{{app.id}}"
                               name="summMin_app_{{app.id}}"
                               {% if app.id in offer_apps_summs %}
                               value="{{offer_apps_summs[app.id].summMin}}"
                               {% endif %}
                        >

                        <label for="summMid_app_{{app.id}}">Разделитель суммы</label>
                        <input class="form-control" type="text" placeholder="Введите разделитель"
                               id="summMid_app_{{app.id}}"
                               name="summMid_app_{{app.id}}"
                               {% if app.id in offer_apps_summs %}
                               value="{{offer_apps_summs[app.id].summMid}}"
                               {% endif %}
                        >

                        <label for="summMax_app_{{app.id}}">Сумма до</label>
                        <input class="form-control" type="text" placeholder="Введите сумму" id="summMax_app_{{app.id}}"
                               name="summMax_app_{{app.id}}"
                               {% if app.id in offer_apps_summs %}
                               value="{{offer_apps_summs[app.id].summMax}}"
                               {% endif %}
                        >

                        <label for="summPostfix_app_{{app.id}}">Постфикс суммы</label>
                        <input class="form-control" type="text" placeholder="Постфикс суммы"
                               id="summPostfix_app_{{app.id}}"
                               name="summPostfix_app_{{app.id}}"
                               {% if app.id in offer_apps_summs %}
                               value="{{offer_apps_summs[app.id].summPostfix}}"
                               {% endif %}
                        >
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>


        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Сроки офферов по приложениям</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for app in apps %}
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Сроки приложения <b>{{app.name}}</b></h3>
                    </div>
                    <div class="box-body">
                        <label for="termPrefix_app_{{app.id}}">Префикс сроков</label>
                        <input class="form-control" type="text" placeholder="Префикс сроков"
                               id="termPrefix_app_{{app.id}}"
                               name="termPrefix_app_{{app.id}}"
                               {% if app.id in offer_apps_terms %}
                               value="{{offer_apps_terms[app.id].termPrefix}}"
                               {% endif %}
                        >

                        <label for="termMin_app_{{app.id}}">Срок от</label>
                        <input class="form-control" type="text" placeholder="Введите срок" id="termMin_app_{{app.id}}"
                               name="termMin_app_{{app.id}}"
                               {% if app.id in offer_apps_terms %}
                               value="{{offer_apps_terms[app.id].termMin}}"
                               {% endif %}
                        >

                        <label for="termMid_app_{{app.id}}">Разделитель сроков</label>
                        <input class="form-control" type="text" placeholder="Разделитель сроков"
                               id="termMid_app_{{app.id}}"
                               name="termMid_app_{{app.id}}"
                               {% if app.id in offer_apps_terms %}
                               value="{{offer_apps_terms[app.id].termMid}}"
                               {% endif %}
                        >

                        <label for="termMax_app_{{app.id}}">Срок до</label>
                        <input class="form-control" type="text" placeholder="Введите срок" id="termMax_app_{{app.id}}"
                               name="termMax_app_{{app.id}}"
                               {% if app.id in offer_apps_terms %}
                               value="{{offer_apps_terms[app.id].termMax}}"
                               {% endif %}
                        >

                        <label for="termPostfix_app_{{app.id}}">Постфикс сроков</label>
                        <input class="form-control" type="text" placeholder="Постфикс сроков"
                               id="termPostfix_app_{{app.id}}"
                               name="termPostfix_app_{{app.id}}"
                               {% if app.id in offer_apps_terms %}
                               value="{{offer_apps_terms[app.id].termPostfix}}"
                               {% endif %}
                        >

                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="box box-info collapsed-box">
            <div class="box-header with-border" data-widget="collapse">
                <h3 class="box-title">Варианты открытия офферов по приложениям</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                {% for app in apps %}
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>{{app.name}}</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="use_open_selection">Задать вариант открытия офферов</label>
                            <input type="checkbox" onClick="use_open_selection_app_handler({{app.id}})"
                                   name="use_open_selection_app_{{app.id}}" id="use_open_selection_app_{{app.id}}"
                                   {% if app.id in offers_apps_browser_types %}
                                   checked
                                   {% endif %}

                            >
                        </div>

                        <div class="form-group">
                            <input {% if app.id in offers_apps_browser_types %} disabled {%endif%}
                                   {%if
                                   app.id in offers_apps_browser_types and
                                   offers_apps_browser_types[app.id].browser_type=="internal" %}
                                   checked
                                   {%endif%}
                                   type="radio" name="browser_type_app_{{app.id}}" id="internal_browser_app_{{app.id}}"
                                   value="internal"> Внутренний<br>
                            <input {% if app.id in offers_apps_browser_types %} disabled {%endif%}
                                   {% if app.id in offers_apps_browser_types and
                                   offers_apps_browser_types[app.id].browser_type=="external" %} checked {%endif%}
                                   type="radio" name="browser_type_app_{{app.id}}" id="external_browser_app_{{app.id}}"
                                   value="external"> Внешний<br>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>


        <div class="box box-info">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-footer">
                        <a href="#" class="btn btn-default" onclick="goBack()">Отмена</a>
                        <button type="submit" class="btn btn-info pull-right">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<!-- /.box-body -->
</div>

{% endblock %}

{% block page_scripts %}
<script src="/static/bower_components/ckeditor/ckeditor.js"></script>
<script src="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script type="text/javascript">
    $(function () {
        // Replace the <textarea id="description"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('description');
        //bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5();
        use_open_selection_handler();

        {% for app in apps %}
        use_open_selection_app_handler({{app.id}});
        {% endfor %}
    });

    function use_open_selection_handler() {
        useOpenSelectionCheckBox = document.getElementById("use_open_selection");
        if (useOpenSelectionCheckBox.checked) {
            document.getElementById("internal_browser").disabled = false;
            document.getElementById("external_browser").disabled = false;
        } else {
            document.getElementById("internal_browser").disabled = true;
            document.getElementById("external_browser").disabled = true;
        }
    }

    function use_open_selection_app_handler(app_id) {
        useOpenSelectionCheckBox = document.getElementById("use_open_selection_app_" + app_id);
        if (useOpenSelectionCheckBox.checked) {
            document.getElementById("internal_browser_app_" + app_id).disabled = false;
            document.getElementById("external_browser_app_" + app_id).disabled = false;
        } else {
            document.getElementById("internal_browser_app_" + app_id).disabled = true;
            document.getElementById("external_browser_app_" + app_id).disabled = true;
        }
    }

</script>
{% endblock %}