{% extends 'lib/main.html' %}
{% block header_nav %}
{% endblock %}

{% block content_header %}
<h1>
    Офферы
</h1>

{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="box">
    <div class="box-header">
        <div class="row">
            <div class="col-xs-3">
                <div class="btn-group">
                    <a href="/offers?offers_type={{offers_type_id}}&current_app={%if current_app %} {{current_app.id}} {% endif %}&current_country={%if current_country %}{{current_country.id}}{% endif %}"
                       type="button"
                       {% if offers_state=="all" %}}
                       class="btn btn-info"
                       {% else %}
                       class="btn btn-default"
                       {% endif%}

                    >Все</a>
                    <a href="/offers?offers_type={{offers_type_id}}&state=active&current_app={%if current_app %} {{current_app.id}} {% endif %}&current_country={%if current_country %}{{current_country.id}}{% endif %}"
                       type="button"
                       {% if offers_state=="active" %}}
                       class="btn btn-success"
                       {% else %}
                       class="btn btn-default"
                       {% endif%}
                    >Активные</a>
                    <a href="/offers?offers_type={{offers_type_id}}&state=inactive&current_app={%if current_app %} {{current_app.id}} {% endif %}&current_country={%if current_country %}{{current_country.id}}{% endif %}"
                       type="button"
                       {% if offers_state=="inactive" %}}
                       class="btn btn-danger"
                       {% else %}
                       class="btn btn-default"
                       {% endif%}
                    >Неактивные</a>
                    <a href="/offers?offers_type={{offers_type_id}}&state=deleted&current_app={%if current_app %} {{current_app.id}} {% endif %}&current_country={%if current_country %}{{current_country.id}}{% endif %}"
                       type="button"
                       {% if offers_state=="deleted" %}}
                       class="btn btn-danger"
                       {% else %}
                       class="btn btn-default"
                       {% endif%}
                    >Удаленные</a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" name="search-input" id="search-input" onkeyup="filterItems()"
                           class="form-control"
                           placeholder="Поиск по офферам...">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-puzzle-piece"></i></span>
                    <select class="form-control" name="offer_type"
                            onchange="document.location='offers?offers_type={{offers_type_id}}&state={{offers_state}}&current_country={{current_country.id}}&current_app='+this.options[this.selectedIndex].value">
                        <option value="all">Все приложения</option>
                        {% for app in apps%}
                        <option
                                value="{{app.id}}"
                                {%if current_app %}
                                {% if app.id== current_app.id %}
                                selected
                                {% endif %}
                                {% endif %}
                        >{{app.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    <select class="form-control" name="offer_type"
                            onchange="document.location='offers?offers_type={{offers_type_id}}&state={{offers_state}}&current_app={{current_app.id}}&current_country='+this.options[this.selectedIndex].value">
                        <option value="all">Все страны</option>
                        {% for country in countries%}
                        <option
                                value="{{country.id}}"
                                {%if current_country %}
                                {% if country.id== current_country.id %}
                                selected
                                {% endif %}
                                {% endif %}
                        >{{country.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="btn-group">
                    <a href="#" type="button" class="btn btn-default"
                       {% if current_app %}
                       data-ufb_app_id="{{current_app.id}}"
                       data-ufb_app_name="{{current_app.name}}"
                       data-toggle="modal"
                       data-target="#uploadFirebaseConfirmationModal"
                       {% else %}
                       disabled
                       {% endif %}
                    ><img src="/static/img/firebase_icon.png" width="16" height="16"></a>

                    <a href="/offers_create?offers_type={{offers_type_id}}&state={{offers_state}}&current_app={%if current_app %}{{current_app.id}}{% endif %}&current_country={%if current_country %}{{current_country.id}}{% endif %}"
                       type="button" class="btn btn-default"><i class="fa fa-file"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 30px">#</th>
                <th style="width: 30px">Состояние</th>
                <th>Название</th>
                <th>Приложения</th>
                <th>Комментарий</th>
                <th style="width: 30px">Действие</th>
                <th style="width: 100px">Лого</th>
                <th style="width: 30px"></th>
                <th style="width: 30px"></th>
            </tr>
            </thead>
            <tbody id="offers-table-body">
            {% for offer in offers %}
            <tr>
                {%if current_app %}
                <td class="offer_position">{{offer.app_position}}</td>
                {% else %}
                <td class="offer_position"></td>
                {% endif %}
                <!-- Added for items position change-->
                <td class="offer_id" style="display: none">{{offer.id}}</td>    <!-- Added for items position change -->
                <td>
                    <h4>{% if offer.isActive %}
                        <i class="fa fa-fw fa-play text-green"></i>
                        {% else %}
                        <i class="fa fa-fw fa-stop text-red"></i>
                        {% endif %}
                    </h4>
                </td>
                <td>
                    <a href="/offers_overview?id={{offer.id}}&state={{offers_state}}&current_app={%if current_app %}{{current_app.id}}{% endif %}&current_country={%if current_country %}{{current_country.id}}{% endif %}">
                        <h4>{{
                            offer.name }}</h4></a></td>
                <td>
                    <ul>
                        {% for app in offer.related_apps %}
                        <li>{{ app.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <input class="form-control comment-input" type="text" id="comment"
                           name="comment" item_id={{offer.id}}
                           {% if offer.comment %}
                           value="{{ offer.comment }}"
                           {% endif %}
                    >
                </td>
                <td>
                    {% if offer.isActive %}
                    <a href="/offers_actions?id={{offer.id}}&action=stop&offer_type={{offers_type_id}}&app_id={%if current_app %} {{current_app.id}} {% endif %}&current_country={%if current_country %}{{current_country.id}}{% endif %}"
                       type="button"
                       class="btn btn-block btn-danger">Остановить</a>
                    {% else %}
                    <a href="/offers_actions?id={{offer.id}}&action=run&offer_type={{offers_type_id}}&app_id={%if current_app %} {{current_app.id}} {% endif %}&current_country={%if current_country %}{{current_country.id}}{% endif %}"
                       type="button"
                       class="btn btn-block btn-success">Запустить</a>
                    {% endif %}

                    {% if current_app %}
                    <a href="#"
                       type="button"
                       class="btn btn-block btn-default"
                       data-toggle="modal"
                       data-target="#offerLinkModal"
                       onclick="getOfferLink('{{offer.id}}', '{{current_app.id}}', '{{offer.name}}', '{{current_app.name}}',
                       '{{current_country.code}}')"
                    >Сгенерировать ссылку</a>
                    {% endif %}
                </td>
                <td>
                    {% if offer.screen %}
                    <img class="img-responsive" width="100px" src="{{ offer.screen }}" alt="Photo">
                    {% else %}
                    <img class="img-responsive" width="36px" src="/static/img/no_image.png" alt="Photo">
                    {% endif%}
                </td>
                <td>

                    <a class="text-danger" href="#"><h4>
                        {% if offers_state=="deleted" %}
                        <i class="fa fa-undo text-green"
                           data-offer_id={{offer.id}}
                           data-offer_name="{{offer.name}}"
                           data-toggle="modal"
                           data-target="#restoreConfirmationModal"></i>
                        {% else %}
                        <i class="fa fa-remove text-red" data-offer_id={{offer.id}}
                           data-offer_name="{{offer.name}}"
                           data-toggle="modal"
                           data-target="#deleteConfirmationModal"></i>
                    {% endif %}
                    </h4></a>
                </td>
                <td>
                    <a class="text-info" href="/offers_duplicate?id={{offer.id}}"><h4><i
                            class="fa fa-copy text-blue"></i></h4></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="modal fade" id="restoreConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="restoreConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Восстановить оффер <b><span id="modal-offer_name"></span></b>?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="cancel-restore-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-restore-button">Восстановить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Удалить оффер <b><span id="modal-offer_name"></span></b>?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="cancel-delete-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm-delete-button">Удалить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadFirebaseConfirmationModal" tabindex="-1" role="dialog"
     aria-labelledby="uploadFirebaseConfirmationModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Загрузить офферы для приложения <b>{%if current_app %}{{current_app.name}}{% endif %}</b> в
                    Firebase?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" id="ufb-cancel-button">Отмена
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="ufb-confirm-button">
                    Загрузить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="offerLinkModal" tabindex="-1" role="dialog"
     aria-labelledby="offerLinkModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Ссылка на оффер <b><span id="offer-link-modal-offer-name"></span></b> для приложения <b><span
                    id="offer-link-modal-app-name"></span></b>
            </div>
            <div class="modal-body">
                <div class="center-block">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="offer-link-modal-offer-old-link">Ссылка для приложений без разделений
                                карт</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control" readonly id="offer-link-modal-offer-old-link" value="">
                        </div>
                        <div class="col-md-1">
                            <span onclick="copyOldLinkToClipboard()" class="btn btn-default"><i
                                    class="fa fa-copy"></i></span>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="offer-link-modal-offer-old-link">Ссылка для приложений с разделением
                                карт</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">

                            <input class="form-control" readonly id="offer-link-modal-offer-link" value="">
                        </div>
                        <div class="col-md-1">
                            <span onclick="copyLinkToClipboard()" class="btn btn-default"><i
                                    class="fa fa-copy"></i></span>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="offer-link-modal-offer-country-link">Ссылка для приложений с разделением
                                стран</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">

                            <input class="form-control" readonly id="offer-link-modal-offer-country-link" value="">
                        </div>
                        <div class="col-md-1">
                            <span onclick="copyCountryLinkToClipboard()" class="btn btn-default"><i
                                    class="fa fa-copy"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Отмена
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script type="text/javascript">
    pass_arguments_to_modal();
    set_confirmation_modal_handlers();

    $(document).ready(function () {
        let offers_table_body = document.getElementById('offers-table-body');
        Sortable.create(offers_table_body, {
            onEnd: function () {
                recountElements();
            }
        });

        $(".comment-input").keyup(function (event) {
            if (event.keyCode === 13) {
                var $input = $(event.target);
                let item_id = $input.attr('item_id');
                let comment = $input.val();
                updateOfferComment({item_id: item_id, comment: comment});
            }
        });

        $('#uploadFirebaseConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                if ($button.attr("id") == 'ufb-confirm-button') {
                    redirect_uri = encodeURIComponent(window.location.pathname + window.location.search);
                    window.location.href = '/app_fb_db_load?id={%if current_app %}{{current_app.id}}{% endif %}&redirect_uri=' + redirect_uri;
                }
            });
        });
    });

    function updateOfferComment(updated_comment_data) {
        var xhr = new XMLHttpRequest();
        var url = "/offers_update_comment";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            console.log(xhr.readyState);
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log('Updated');
            } else {
                console.error(xhr.responseText);
            }
        };
        var data = JSON.stringify(updated_comment_data);
        xhr.send(data);

    }

    <!-- Items position change -->
    function uploadUpdatedOrder(updated_position_data) {
        var xhr = new XMLHttpRequest();
        var url = "/offers_update_order?app_id={%if current_app %} {{current_app.id}} {% endif %}&country_id={%if current_country %} {{current_country.id}} {% endif %}&offers_type_id={%if offers_type_id %} {{offers_type_id}} {% endif %}";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            console.log(xhr.readyState);
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log('Updated');
            } else {
                console.error(xhr.responseText);
            }
        };
        var data = JSON.stringify(updated_position_data);
        xhr.send(data);

    }

    function recountElements() {
        let offers_table_body = document.getElementById('offers-table-body');
        let offers_lines = offers_table_body.children;
        console.log(offers_lines);
        updated_position_data = [];

        for (let i = 0; i < offers_lines.length; i++) {
            offers_lines[i].children[0].innerHTML = (i + 1).toString();
            item_data = {
                position: i + 1,
                item_id: offers_lines[i].children[1].innerHTML
            };
            updated_position_data.push(item_data);
        }

        uploadUpdatedOrder(updated_position_data);
    }

    function pass_arguments_to_modal() {
        let ATTRIBUTES = ['offer_name', 'ufb_app_name', 'ufb_app_id'];
        $('[data-toggle="modal"]').on('click', function (e) {
            // convert target (e.g. the button) to jquery object
            var $target = $(e.target);
            // modal targeted by the button
            var modalSelector = $target.data('target');

            // iterate over each possible data-* attribute
            ATTRIBUTES.forEach(function (attributeName) {
                // retrieve the dom element corresponding to current attribute
                var $modalAttribute = $(modalSelector + ' #modal-' + attributeName);
                var dataValue = $target.data(attributeName);
                $modalAttribute.text(dataValue || '');
            });
            window.removing_id = $target.data('offer_id');
            window.ufb_id = $target.data('ufb_app_id');
        });
    }

    function set_confirmation_modal_handlers() {
        $('#deleteConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                console.log($button.attr("id"));
                if ($button.attr("id") == 'confirm-delete-button') {
                    window.location.href = '/offers_actions?&action=delete&offer_type={{offers_type_id}}&app_id={%if current_app %}{{current_app.id}} {% endif %}&id=' + window.removing_id;
                }
            });
        });

        $('#restoreConfirmationModal .modal-footer button').on('click', function (event) {
            var $button = $(event.target); // The clicked button

            $(this).closest('.modal').one('hidden.bs.modal', function () {
                console.log($button.attr("id"));
                if ($button.attr("id") == 'confirm-restore-button') {
                    window.location.href = '/offers_actions?&action=restore&offer_type={{offers_type_id}}&app_id={%if current_app %}{{current_app.id}} {% endif %}&id=' + window.removing_id;
                }
            });
        });
    }

    function filterItems() {
        // Declare variables
        let input, filter, spletRow, i;
        input = document.getElementById('search-input');
        filter = input.value.toLowerCase();
        offers_table_body = document.getElementById("offers-table-body");
        sorting_items = offers_table_body.children;

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < sorting_items.length; i++) {
            spletRow = sorting_items[i].children;
            offerName = spletRow[3].getElementsByTagName("a")[0].textContent;

            if (offerName.toLowerCase().indexOf(filter) > -1) {
                sorting_items[i].style.display = "";
            } else {
                sorting_items[i].style.display = "none";
            }
        }
    }

    function getOfferLink(offer_id, app_id, offer_name, app_name, country_code) {
        document.getElementById("offer-link-modal-offer-name").innerText = offer_name;
        document.getElementById("offer-link-modal-app-name").innerText = app_name;
        document.getElementById("offer-link-modal-offer-link").value = "";
        document.getElementById("offer-link-modal-offer-old-link").value = "";
        document.getElementById("offer-link-modal-offer-country-link").value = "";

        var xhr = new XMLHttpRequest();
        var url = "/offers_dynamic_link?offer_id=" + offer_id + "&app_id=" + app_id + "&country_code=" + country_code;
        xhr.open("GET", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log(xhr.responseText);
                rsp = JSON.parse(xhr.responseText);
                console.log(rsp);
                document.getElementById("offer-link-modal-offer-link").value = rsp['link'];
                document.getElementById("offer-link-modal-offer-old-link").value = rsp['old_link'];
                document.getElementById("offer-link-modal-offer-country-link").value = rsp['country_link'];
            } else {
                console.error(xhr.responseText);
            }
        };
        xhr.send();
    }

    function copyLinkToClipboard() {
        var linkText = document.getElementById("offer-link-modal-offer-link");
        linkText.select();
        document.execCommand("copy");
    }


    function copyOldLinkToClipboard() {
        var linkText = document.getElementById("offer-link-modal-offer-old-link");
        linkText.select();
        document.execCommand("copy");
    }

    function copyCountryLinkToClipboard() {
        var linkText = document.getElementById("offer-link-modal-offer-country-link");
        linkText.select();
        document.execCommand("copy");
    }

</script>
<!-- End Items position change -->
{% endblock %}