{% extends 'lib/main.html' %}
{% block header_nav %} {% endblock %}

{% block content_header %}
<h1>
    Приложения
</h1>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="box">
    <div class="box-header">
        <a href="/apps_create" class="btn btn-info pull-right" type="button">Создать</a>
    </div>

    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th>Название</th>
                <th>Firebase</th>
                <th></th>
                <!--<th>Fabrica</th>-->
            </tr>

            {% for app in applications %}
            <tr>
                <td><a href="/apps_overview?id={{app.id}}"><h4>{{ app.name }}</h4></a></td>
                <td><a href="{{app.fb_url}}/{{ app.fb_id }}/overview"><h4>{{ app.fb_id
                    }}</h4></a></td>
                <td>
                    <div class="btn-group">
                        <a href="/app_fb_db_load?id={{app.id}}" type="button"
                           class="btn btn-warning">Обновить Firebase DB</a>

                        <a href="/app_fb_db_get?id={{app.id}}" type="button"
                           class="btn btn-default">Скачать FB JSON</a>

                        <a href="/app_db_json?id={{app.id}}" type="button"
                           class="btn btn-default">Скачать JSON</a>

                    </div>
                    <div class="btn-group">
                        <a href="/add_all_offers?id={{app.id}}" type="button"
                           class="btn btn-success">Добавить все офферы</a>
                        <a href="/delete_all_offers?id={{app.id}}" type="button"
                           class="btn btn-danger">Удалить все офферы</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}