{% extends 'lib/main.html' %}
{% block header_nav %}
{% endblock %}

{% block content_header %}
<h1>
    Новости
</h1>

{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<div class="box">
    <div class="box-header">
        <div class="btn-group">
            <a href="/news" type="button"
               {% if news_state=="all" %}}
               class="btn btn-info"
               {% else %}
               class="btn btn-default"
               {% endif%}

            >Все</a>
            <a href="/news?state=active" type="button"
               {% if news_state=="active" %}}
               class="btn btn-success"
               {% else %}
               class="btn btn-default"
               {% endif%}
            >Активные</a>
            <a href="/news?state=inactive" type="button"
               {% if news_state=="inactive" %}}
               class="btn btn-danger"
               {% else %}
               class="btn btn-default"
               {% endif%}
            >Неактивные</a>
        </div>

        <a href="/news_create" class="btn btn-info pull-right" type="button">Создать</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th style="width: 30px">Состояние</th>
                <th>Заголовок</th>
                <th style="width: 30px">Действие</th>
                <th style="width: 100px">Лого</th>
                <th style="width: 30px"></th>
            </tr>

            {% for news_item in news %}
            <tr>
                <td>
                    <h4>{% if news_item.isActive %}
                        <i class="fa fa-fw fa-play text-green"></i>
                        {% else %}
                        <i class="fa fa-fw fa-stop text-red"></i>
                        {% endif %}
                    </h4>
                </td>
                <td><a href="/news_overview?id={{news_item.id}}"><h4>{{ news_item.title }}</h4></a></td>
                <td>
                    {% if news_item.isActive %}
                    <a href="/news_actions?id={{news_item.id}}&action=stop" type="button" class="btn btn-block btn-danger">Остановить</a>
                    {% else %}
                    <a href="/news_actions?id={{news_item.id}}&action=run" type="button" class="btn btn-block btn-success">Запустить</a>
                    {% endif %}
                </td>
                <td>
                    {% if news_item.image %}
                        <img class="img-responsive" width="100px" src="{{ news_item.image }}" alt="Photo">
                    {% else %}
                        <img class="img-responsive" width="36px" src="/static/img/no_image.png" alt="Photo">
                    {% endif%}
                </td>
                <td>
                    <a href="/news_actions?id={{news_item.id}}&action=delete" type="button" class="btn btn-block btn-danger">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}